DB_USER=
DB_PASSWORD=

AUTH_USER=
AUTH_PASSWORD=

JWT_SECRET=
JWT_EXPIRACAO_MS=

RABBITMQ_USER=
RABBITMQ_PASSWORD=
RABBITMQ_HOST=
RABBITMQ_PORT=
RABBITMQ_VHOST=

REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=

PAYMENT_MOCK_DELAY_MS=
PIX_EXPIRACAO_MINUTOS=
BOLETO_EXPIRACAO_DIAS=
PAYMENT_CACHE_TTL_SECONDS=
EVENT_SERVICE_URL=

SPRING_PROFILES_ACTIVE=
